body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    margin: auto;
    height: 600px;
    width: 600px;
    margin-top: 200px;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 15px;
}

.container .my_row {
    background-color: black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 15px;
    grid-template-rows: 1fr
}
.container .my_row .my_cell {
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}
